.content {
    margin: 5em;
    text-align: center;
}

h1 {
    text-align: center;
    margin: 1em;
}

p {
    text-align: justify;
}

.black {
    font-weight: bold;
}

a {
    text-decoration: none;
}

.resources {
    text-align: center;
    margin: 3em;
}

.next {
    text-align: right;
    width: 80%;
}

.quote {
    font-style: italic;
}

@media only screen and (max-width: 1200px) {
    .text {
        text-align: center;
        width: 100%;
        margin: auto;
    }

    .next {
        text-align: right;
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    .text {
        text-align: center;
        width: 60%;
        margin: auto;
    }

    .next {
        text-align: right;
        width: 80%;
    }
}